body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.HousesAttr {
  background-color: rgb(19, 169, 119);
  width: 120px;
 }
 
 #HousesForm {
  background-color:rgb(73, 170, 255);
  width: 325px;
}

h1{
  color: rgb(235, 93, 155);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 